@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

:root {
    --cor0: #3B0900;
    --cor5: #3a231e;
    --cor1: #B93F00;
    --cor2: #E8A926;
    --cor3: #047297;
    --cor4: #FFF9E9;
    --font1: "M PLUS Rounded 1c", serif;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--font1);
    
}

body , html{
    background-color: var(--cor0) ;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}


nav ul {
    border-radius: 30px;
    list-style-type: none;
    display: flex ;
    padding:10px;
}

nav ul li {
    margin: 0 10px; /* Espaçamento entre os itens do menu */
    background-color: var(--cor1);
    border-radius: 30px;
}

nav ul li a {
    font-weight: bolder;
    text-decoration: none;
    color: var(--cor4); /* Cor do texto do menu */
    padding: 10px;
    display: block;
}

a:hover{
    color: var(--cor2);
    transition: 1.5s;
}

.header-container, a {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-content: center; /* Espaço entre a logo e o menu */
    padding: 20px;
    
     /* Cor de fundo do header */
}

 .header-container , img{
    height: 70px; /* Ajuste a altura da logo conforme necessário */
    border-radius: 50%;
}


.tittlehero{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 40px;
    color: var(--cor4);
    text-transform: uppercase;
    font-size: 3em;

    background-color: #E8A926;
}

.paraghero{
    text-transform: uppercase;
    font-size: .9em;
    text-align: center;
    margin-bottom: 300px;
    color: var(--cor4);

    background-color: var(--cor3);
}